name: my-first yml
on:
  workflow_dispatch:
  issues:
    types: 
      - opened
  push:
    # branches: 
    #   - master  
    # paths-ignore: 
    #   - .github/workflows/my-first.yml 

jobs:
  demo-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: install npm v 18
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: npm ci
        run: npm ci
        working-directory: 01StartingProject
      
  build:
    needs: demo-job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: npm ci
        run: npm ci
        working-directory: 01StartingProject
      - name: Build Artifacts
        run: npm run build
        working-directory: 01StartingProject

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: my-first-artifacts
          path: |
            01StartingProject
            dist