name: Use Env for MongoDB
on:
  push:
    branches:
      - master
jobs:
  test:
    env:
      MONGODB_CLUSTER_ADDRESS: cluster0.zlj6s.mongodb.net
      MONGODB_USERNAME: db-user1
      MONGODB_PASSWORD: db-user1@163520
      PORT: 8080
    
    runs-on: ubuntu-latest
    steps:

      - name: Get code
        uses: actions/checkout@v4
      
      - name: Cache all npm steps.
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: retrive-cache-key-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
        working-directory: EnvVarsDBSecrets

      - name: Run Server
        run: npm start & npx wait-on http://127.0.0.1:$PORT
        working-directory: EnvVarsDBSecrets


      - name: Lint code
        run: npm run lint
        working-directory: EnvVarsDBSecrets
      - name: Test code
        run: npm run test
        working-directory: EnvVarsDBSecrets

      - name: Output Info.
        run: echo "MONGODB_USERNAME- ${{ env.MONGODB_USERNAME }}"

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Output Info.
        run: | 
          echo "MONGODB_USERNAME: ${{ env.MONGODB_USERNAME }}"
          echo "MONGODB_DB_NAME": $MONGODB_DB_NAME"